{% extends 'base.html' %}

{% block title %}
  Registrar Retenciones
{% endblock title %}


{% block content %}

  <div class="jumbotron" width=20%>
      <form method="post" > 
            <input type="submit" class="btn btn-info" value="Guardar">
            <a class="btn btn-danger" href="{% url 'retencion_list' %}">Cancelar</a>
            <hr>
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
         
      </form>
  </div>

{% endblock content %}