{% extends 'base.html' %}


{% block title %}
    Tarifas
{% endblock title %}


{% block content %}

  <a class= "btn btn-success" href= "{% url 'tarifa_view' %}" >Crear Nueva Tarifa  <ion-icon name="add"></ion-icon></a>

    <div class="card mb-3">
            <div class="card-header">
                    <i class="fas fa-table"></i>
                    Tarifas Registradas
                  </div>

                  {%if tarifas %}
                  <div class="card-body">
                    <div class="table-responsive">
                
                        <div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable table table-hover" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                              <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código</font></font></th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarifa</font></font></th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha_Inicio</font></font></th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha_Final</font></font></th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acción</font></font></th>
                            </tr>
                            </thead>
                           
                            <tbody>              
                
                                {% for tarifa in tarifas %}  
                                <tr role="row" class="odd">
                
                                    <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><center>{{tarifa.id }}</center></font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><center>{{   tarifa.nombre}}</center> </font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><center>{{   tarifa.fecha_inicio }}</center> </font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><center> {{   tarifa.fecha_final  }}</center></font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><center><a class= "btn btn-link" href= "{% url 'tarifa_edit' tarifa.id %}" > <ion-icon name="create"></ion-icon></a></center></font></font></td>
                                </tr>
                                {% endfor %}

                {%else%}
                <div class="alert alert-dark" role="alert">
                    <h2>No hay Registros</h2>
                </div>
                    
                {% endif%}
                
                                </tbody>
                            
                          </table>
                      </div>
                  </div>
  
{% endblock content %}


                                  
