{% extends 'base.html' %}


{% block title %}
  Editar Detalles de CPP
{% endblock title %}

{% block content %}

  <div class="jumbotron" width=20%>
      <form method="post" > 
          {% csrf_token %}
          <table>
              {{form.as_table}}
          </table>
         
          <input type="submit" class="btn btn-info" value="Guardar">
          <a class="btn btn-danger" href="javascript: history.go(-1)">Cancelar</a>
      </form>
  </div>

{% endblock content %}

{% block scripts_local %}
  <script>  
    $(function () {  
    $("#id_fecha").datetimepicker({  
      format: 'd/m/Y',  
      timepicker:false  
    });  
    });  
  </script> 
{% endblock scripts_local %}