{% extends 'base_cirugia.html' %}


{% block title %}
    Honorario
{% endblock title %}


{% block content %}

  <div class="jumbotron" width=20%>
      <form method="post" id="honor_form" data-proch-url="{% url 'lista_proc_ajax' %}"> 
          {% csrf_token %}
          <table>
              {{form.as_table}}
          </table>
         
          <input type="submit" class="btn btn-info" value="Guardar">
          <a class="btn btn-danger" href="{% url 'honorario_list' %}">Cancelar</a>
      </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script>
    $("#id_tipo_proc").change(function () {
      var url = $("#honor_form").attr("data-proch-url");  // get the url of the `load_cities` view
      var tipo_procId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'tipo_proc': tipo_procId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_procedimiento").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>


{% endblock content %}