{% extends 'base_cirugia.html' %}


{% block title %}
    Honorario
{% endblock title %}


{% block content %}

  <a class= "btn btn-success" href= "{% url 'honorario_view' %}" >Crear Honorario<ion-icon name="add"></ion-icon></a>
  <a class= "btn btn-success" href= "{% url 'Reporte_honor_excel' %}" ><i class="fas fa-file-excel"></i> Generar consolidado</a>


    <div class="card mb-3">
            <div class="card-header">
                    <i class="fas fa-table"></i>
                    Honorarios
                  </div>
            
                    <!-- <form>
                      <input type="search" placeholder="AAAA-MM-DD" name="filtrofechacpp" aria-controls="dataTable">
                      <input type="search" placeholder="Código" name="filtroidcpp" aria-controls="dataTable">
                      <button type="submit" name="botonfiltrocpp">Filtrar</button>
                    </form> -->
                  {%if honorarios %}
                  <div class="card-body">
                    <div class="table-responsive " >
                
                        <div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable table-hover" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                              <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo Procedimiento</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre_del_Procedimiento</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Canasta</font></font></th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Concepto</font></font></th>
                                <!-- <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duración</font></font></th> -->
                                <!-- <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">UVR</font></font></th> -->
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Información_del_Honorario</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Costo_no_parametrizado</font></font></th>
                                <!-- <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Subtotal</font></font></th> -->
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acción</font></font></th>
                              </tr>
                            </thead>

                            <tbody>              
                        
                                {% for honorario in honorarios %}  
                                <tr role="row" class="odd">
                                    <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{honorario.id}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  honorario.tipo_proc}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  honorario.procedimiento}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  honorario.nombre_canasta}}</font></font></td>
                                    <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{honorario.concepto_honorario}}</font></font></td>
                                    <!-- <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  honorario.duracion}}</font></font></td> -->
                                    <!-- <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  honorario.uvr}}</font></font></td> -->
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  honorario.info}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  honorario.costo}}</font></font></td>
                                    <!-- <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  honorario.subtotal}}</font></font></td> -->
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <center>
                                      <a class= "btn btn-primary btn-circle" href= "{% url 'honorario_edit' honorario.id%}" ><ion-icon name="create"></ion-icon></a>
                                      <a class= "btn btn-danger btn-circle" onclick = "return ElimRegistro()" href= "{% url 'honorario_elim' honorario.id%}" ><ion-icon name="trash"></ion-icon></a></center></font></font> 

                                    </td>
                                    
                                </tr>
                                {% endfor %}
                    
                {%else%}
                <div class="alert alert-dark" role="alert">
                    <h2>No hay Registros </h2>
                </div>
                    
                {% endif%}
                    
                                </tbody>
                          </table>
                      </div>
                  </div>
  


{% endblock content %}

