{% extends 'base_cirugia.html' %}


{% block title %}
    Nombre Canasta
{% endblock title %}


{% block content %}

  <a class= "btn btn-success" href= "{% url 'nombre_canasta_view' %}" >Crear Nombre de Canasta<ion-icon name="add"></ion-icon></a>
  
    <div class="card mb-3">
            <div class="card-header">
                    <i class="fas fa-table"></i>
                    Nombre Canasta
                  </div>

                  {%if nombre_canastas %}
                  <div class="card-body">
                    <div class="table-responsive " >
                
                        <div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable table-hover" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                              <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre_del_Canasta</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acción</font></font></th>
                              </tr>
                            </thead>

                            <tbody>              
                        
                                {% for nombre_canasta in nombre_canastas %}  
                                <tr role="row" class="odd">
                                    <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{nombre_canasta.id}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  nombre_canasta.nombre_canasta}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <center>
                                      <a class= "btn btn-primary btn-circle" href= "{% url 'nombre_canasta_edit' nombre_canasta.id%}" ><ion-icon name="create"></ion-icon></a>
                                      <a class= "btn btn-danger btn-circle" onclick = "return ElimRegistro()" href= "{% url 'nombre_canasta_elim' nombre_canasta.id%}" ><ion-icon name="trash"></ion-icon></a></center></font></font> 
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                    
                {%else%}
                <div class="alert alert-dark" role="alert">
                    <h2>No hay Registros </h2>
                </div>
                    
                {% endif%}
                    
                                </tbody>
                          </table>
                      </div>
                  </div>
  


{% endblock content %}

