{% extends 'base_cirugia.html' %}


{% block title %}
    Procedimientos
{% endblock title %}


{% block content %}

  <a class= "btn btn-success" href= "{% url 'procedimiento_view' %}" >Crear Procedimiento<ion-icon name="add"></ion-icon></a>
  


    <div class="card mb-3">
            <div class="card-header">
                    <i class="fas fa-table"></i>
                    Procedimientos

                  </div>
            
                    <!-- <form>
                      <input type="search" placeholder="AAAA-MM-DD" name="filtrofechacpp" aria-controls="dataTable">
                      <input type="search" placeholder="Código" name="filtroidcpp" aria-controls="dataTable">
                      <button type="submit" name="botonfiltrocpp">Filtrar</button>
                    </form> -->
                  {%if procedimientos %}
                  <div class="card-body">
                    <div class="table-responsive " >
                        <div class="row"><div class="table-wrapper-scroll-y my-custom-scrollbar  col-sm-12"><table class="table table-bordered dataTable table-hover" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                              <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código</font></font></th>
                                <!-- <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código_Sistem</font></font></th> -->
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Especialidad</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre_del_Procedimiento</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duración</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">UVR</font></font></th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acción</font></font></th>
                              </tr>
                            </thead>

                            <tbody>              
                        
                                {% for procedimiento in procedimientos %}  
                                <tr role="row" class="odd">
                                    <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{procedimiento.id}}</font></font></td>
                                    <!-- <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  procedimiento.cod}}</font></font></td> -->
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  procedimiento.tipo_proc}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  procedimiento.nombre_proc}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  procedimiento.duracion_proc}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  procedimiento.uvr}}</font></font></td>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <center>
                                      <a class= "btn btn-primary btn-circle" href= "{% url 'procedimiento_edit' procedimiento.id%}" ><ion-icon name="create"></ion-icon></a>
                                      <a class= "btn btn-danger btn-circle" onclick = "return ElimRegistro()" href= "{% url 'procedimiento_elim' procedimiento.id%}" ><ion-icon name="trash"></ion-icon></a></center></font></font> 

                                    </td>
                                    
                                </tr>
                                {% endfor %}
                    
                {%else%}
                <div class="alert alert-dark" role="alert">
                    <h2>No hay Registros </h2>
                </div>
                    
                {% endif%}
                    
                                </tbody>
                          </table>
                      </div>
                      
                  </div>
  


{% endblock content %}

