{% extends 'base.html' %} 

{% block title %}
    Cuentas Auxiliares
{% endblock title %} 

{% block content %}

<a class= "btn btn-success" href= "{% url 'cuenta_aux_view' %}" >Crear Cuenta Auxiliar  <ion-icon name="add"></ion-icon></a>


<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Registro de Cuentas Auxiliares</div>

  {%if cuenta_auxs %}
  <div class="card-body">
    <div class="table-responsive">

        <div class="row"><div class="col-sm-12"><table class="table table-bordered  dataTable table table-hover" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código</font></font></th>
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Proveedor</font></font></th>
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre_Cuenta</font></font></th>
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Número_de_Cuenta</font></font></th>
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Naturaleza_de_Cuenta</font></font></th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acción</font></font></th> 

              </tr>
            </thead>
            <tbody>              
    
              {% for cuenta_aux in cuenta_auxs %}  
              <tr role="row" class="odd">
                <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{cuenta_aux.id}}</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{cuenta_aux.proveedor}}</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{cuenta_aux.name_cuenta}}</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{cuenta_aux.cuenta}}</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{cuenta_aux.naturaleza_cuenta}}</font></font></td>
                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <center><a class= "btn btn-dark" href= "{% url 'cuenta_aux_edit' cuenta_aux.id %}" >Editar</a></center></font></font></td>

              </tr>
              {% endfor %}
{%else%}
<div class="alert alert-dark" role="alert">
    <h2>No se ha Registrado Ninguna Cuenta Auxiliar</h2>
</div>
    
  {% endif%}

            </tbody>
          </table>
        </div>
    </div>

{% endblock content%}
