{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SICOS - {% block title %}Pagina Principal{% endblock title%}</title>

  <!-- ARCHIVOS PARA G¿HACER EL DIAGRAMA DE ARBOL -->
  <!-- <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'jstree/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>  <!-- esto es para recargar partte de la pagina-->
  <script src="{% static 'jstree/jstree.min.js' %}"></script>
  <!-- <link rel="stylesheet" href="{% static 'jstree/themes/default/style.min.css' %}"/> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />


  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  <!-- XDSoft DateTimePicker  ESTA ES LA FECHA -->  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />  
  


  <!-- ICONO -->
  <!-- <link rel="" href="{% static 'img/logocosto.ico'%}"/> -->
  <!-- <link rel="shortcut icon" href=""> -->
  <link rel="shortcut icon" href="{% static 'img/lonegro.ico' %}">

  <!-- estilos relizados a mano -->
  <style>
    .list{
      display: inline-block;

    }
    tbody{
      background: rgb(206, 214, 214);
    }

    .fondo {
      background: linear-gradient(top, black, white);
    }

    .color-wilmer{
      background: rgb(255, 255, 255)
    }

    thead{
      background: rgb(52, 148, 163)
    }

    .colorazul{
      background: rgb(52, 148, 163);
    }
  
    .btn-circle {
      width: 30px;
      height: 30px;
      padding: 3px 0px;
      border-radius: 15px;
      text-align: center;
      font-size: 15px;
      line-height: 1.42857;
    }

    .mencon {
      background: rgb(218, 224, 224);
    }

    .color_div{
      background: #f1f1f1b2;
  
    }
    .hv:hover{

      color: black;
    }

    .of{
      overflow: hidden;
    }

  </style>


  <script type="text/javascript">
    function habilitar()
    {
      var campo2 = document.getElementById("camp2");
      var campo6 = document.getElementById("camp6");
      var campo7 = document.getElementById("camp7");
      var campo11 = document.getElementById("camp11");
      var cajaa = document.getElementById("caja");
      var op = document.getElementById("option");

      if (campo11.value != "0")
      {
        if(campo11.value == campo2.value)/*si es un gas*/
        {
          cajaa.style.display ="none";/*esto oculta el campo correspondiente a centro_costo*/
          campo6.style.display ="none";/*esto oculta el campo correspondiente a valor_produc*/
          op.style.display = "none";

        }else/*si no es un gas*/
        {
          campo7.style.display ="none";/*esto oculta el campo correspondiente a cant_flete*/

        }
      }

    }  

    function oculta()
    {
      var producto = document.getElementById("produc");
      var producto2 = document.getElementById("produc2");

      producto.style.display = "none";
      producto2.style.display = "none";

    }
    
    function mostrar()
    {
      var producto = document.getElementById("produc");
      var producto2 = document.getElementById("produc2");
      
      producto.style.display = "inline-block";
      producto2.style.display = "inline-block";
    }
    
    function ConfirmDemo() 
    {
      var mensaje = confirm("¿Quieres Ver la Tabla Contable?");
      return mensaje
    }
    
  </script>


</head>

<body onmousemove="habilitar()" onload="oculta()">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    {% block nabvar%}
    <a class="navbar-brand mr-1" href="{% url 'home'%}"> <img src="{% static 'img/lonegro.png'%}" alt="logo sicos" width=60px  height=50px> SICOS - CPP</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <!-- <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form> -->

    <!-- Navbar -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <span class="badge badge-danger">9+</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-envelope fa-fw"></i>
              <span class="badge badge-danger">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="{%  url 'cambiar_pass_form' %}">Cambiar Contraseña</a>
              <div class="dropdown-divider"></div>
              <!-- <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">Logout</a> -->
              <a class="dropdown-item" href="{% url 'logout' %}" data-target="#logoutModal"  >Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </form>
    {% endblock nabvar%}
  </nav>


  <div id="wrapper" class="nav-item active">

    <!-- Sidebar -->

    {% block menu %}


    <ul class="sidebar navbar-nav">
    
      <li class="nav-item active">
        <a class="nav-link text-info" href="{% url 'home'%}">
          <ion-icon name="home"></ion-icon>
          <span>Inicio</span>
        </a>
      </li>
      
      <!-- #este es el menu de arbol -->
        <div id="myjstree" class="color_div small"> <!-- -->
          <ul>
            <li id="1" class="hv of">Menu
            <ul>
              <li id="2" class="of">Parametros
                <ul>
                  {% if perms.facturacion.add_centro_costo %}
                  <li id="3">Centros de Costo
                    <ul>
                      <li data-jstree='{ "icon":"glyphicon glyphicon-menu-right" }' id ="{% url 'centro_costo_list' %}"> Centros Costos</li>
                      <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }' id="{% url 'centro_actividad_list' %}"> Centro Actividad</li>
                      <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }' id="{% url 'actividad_list' %}"> Actividades</li>
                      <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }' id="{% url 'sub_activity_list' %}">Grupo-Actividad</li>

                    </ul>

                  </li>
                  {% endif %}

                  {% if perms.facturacion.add_especialista %}
                    <li id="4">Especialistas
                      <ul>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-open-file" }' id="{% url 'especialistas_list' %}">Especialistas</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-open-file" }' id="{% url 'tipo_fact_list' %}">Tipos Facturación</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-open-file" }' id="{% url 'tarifa_list' %}">Tarifas</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-open-file" }' id="{% url 'uvt_list' %}">UVT</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-open-file" }' id="{% url 'reten_383_list' %}">Art. 383</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-open-file" }' id="{% url 'contrato_list' %}">Base Retenedora</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-open-file" }' id="{% url 'especialista_cpp_aux_list' %}">CPP-Especialistas</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-open-file" }' id="{% url 'cuenta_reten_list' %}">Retención</li>
      
                      </ul>  

                    </li>
                  {% endif %}

                  {% if perms.facturacion.add_arriendo %}
                    <li id="5">Arriendos
                      <ul>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-menu-right" }'id="{% url 'arriendo_list' %}">Registros</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'inductor_arri_list' %}">Inductores</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'cuenta_arriendo_aux_list' %}">Cuentas</li>  
                      </ul>  

                    </li>

                  {% endif %}

                  {% if perms.facturacion.add_proveedor%}
                    <li id="6" >Proveedores
                      <ul>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-menu-right" }'id="{% url 'proveedor_list' %}">Proveedores</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'producto_list' %}">Productos</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'categoria_list' %}">Categorias</li>  
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'distribucion_list' %}">Distribución</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'cuenta_aux_list' %}">Cuentas Aux.</li>  

                      </ul>  

                    </li>

                  {% endif %}
                  
                  {% if perms.facturacion.add_servicio %}
                    <li id="7" >Proveedores
                      <ul>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-menu-right" }'id="{% url 'tipo_serv_list' %}">Tipos de Servicio</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'serv_public_list' %}">Servicios Públicos</li>
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'cuenta_aux_serv_list' %}">Cuentas Aux.</li>  
                        <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'distri_serv_public_list' %}">Distribuciones</li>

                      </ul>  

                    </li>


                  {% endif %}
                  

                </ul>
                



              </li>


              <li id="8">CPP
                <ul>
                  <li data-jstree='{ "icon":"glyphicon glyphicon-menu-right" }'id="{% url 'fac_especialista_list' %}"><a href="#" id="especialis" >Especialistas</a></li>
                  <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'cpp_arriendo_list' %}">Arriendos</li>
                  <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'cpp_proveedor_list' %}">Proveedores</li>  
                  <li data-jstree='{ "icon":"glyphicon glyphicon-thumbs-up" }'id="{% url 'cpp_serv_public_list' %}">Servicios</li>

                </ul>
              
          
              </li>
          </ul>
        </div>
      <!-- fin de menu de arbol| -->


    </ul>
    {% endblock menu %}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <!-- <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home'%}">Home</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol> -->

        <!-- Icon Cards-->
        

        <!-- Area Chart Example-->
        

        <!-- DataTables Example -->
        

      </div>

      <!-- /.container-fluid -->
      
      <div class="container-fluid"> 
        {% block content %}
        
          <img src="{% static 'img/clinicario.jpeg'%}" alt="logo clinica del rio" width=100%   height=100%>

        
          
        {% endblock content %}
      </div>
    


      <!-- Sticky Footer NO QUITAR-->
      <!-- <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>aqui van los datos de la empresa</span>
          </div>
        </div>
      </footer> -->

    </div>
    <!-- /.content-wrapper -->

  </div>


  <!-- /#wrapper -->

  <!-- Scroll to Top Button   NO QUITAR--> 
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
 
  <script type="text/javascript">
    
    $(function () { 
      $('#myjstree').jstree ({ "themes" : { "stripes" : true }}); 

      $('#myjstree').on("select_node.jstree", function (e, data) { 
        if(
        (data.node.id != 1) && 
        (data.node.id != 2) && 
        (data.node.id != 3) && 
        (data.node.id != 4) && 
        (data.node.id != 5) &&
        (data.node.id != 6) &&
        (data.node.id != 7) &&
        (data.node.id != 8) &&
        (data.node.id != 9) 
        )
        {
          window.location= data.node.id;
        //alert("node_id: " + data.node.id);
        }
        
      });
    });
  </script>

 
  <!-- Bootstrap core JavaScript-->
  <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- <script src="{% static 'vendor/bootstrap/js/agrega.js' %}"></script> esto es el archivo que yo cree para agregar columnas desde la plantilla -->


  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
  <!-- Page level plugin JavaScript-->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>



  {% block scripts_local %}

  {% endblock scripts_local %}



  <script>
    $(document).ready(function () {  
      jQuery.datetimepicker.setLocale('es');  
    }); 
  </script>



  <!-- esta es la ruta para la fecha -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script> 
  
  <script src = "{% static 'dist/jquery.smartselect.min.js' %}"> </script> 
  <script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" ></script>



</body>

</html>
