{% extends 'base.html' %}


{% block title %}
  Centros de Costos
{% endblock title %}


{% block content %}

  <a  class= "btn btn-success" href= "{% url 'centro_costo_view' %}" >Crear Centro de Costo <ion-icon name="add"></ion-icon></a>  
  <div class="card mb-3" id="contenedor1" data-url="{% url 'centro_costo_view' %}">
  
    <!-- <div class="col-sm-2">
      <input class= "btn btn-success" id = "retorno1" type="button" value="Crear Centro de Costo">
    </div> -->

    <div class="card-header">
      <i class="fas fa-table"></i>
      Centros de Costos
    </div>    
      <!-- <form>
        <input type="search" placeholder="AAAA-MM-DD" name="filtrofechacpp" aria-controls="dataTable">
        <input type="search" placeholder="Código" name="filtroidcpp" aria-controls="dataTable">
        <button type="submit" name="botonfiltrocpp">Filtrar</button>
      </form> -->
    {%if centro_costos %}
    <div class="card-body">
      <div class="table-responsive " >
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable table-hover" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código</font></font></th>
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">N°_Cuenta</font></font></th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 54px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Centro_de_Costo</font></font></th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acción</font></font></th>
              </tr>
            </thead>
            <!-- <tfoot>
              <tr>
                <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código Factura</font></font></th>
                <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Posición</font></font></th>
                <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Oficina</font></font></th>
                <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Años</font></font></th>
                <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de inicio</font></font></th>
                <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Salario</font></font></th></tr>
            </tfoot> -->
            <tbody>              
              {% for centro_costo in centro_costos %}  
                <tr role="row" class="odd">
                  <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{centro_costo.id}}</font></font></td>
                  <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  centro_costo.id_centro_costo}}</font></font></td>
                  <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  centro_costo.name_ccos}}</font></font></td>
                  <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <center><a class= "btn btn-link" href= "{% url 'centro_costo_view' centro_costo.id %}" ><ion-icon name="create"></ion-icon></a></center></font></font>
                  </td>
                </tr>
              {% endfor %}
    {%else%}
      <div class="alert alert-dark" role="alert">
        <h2>No hay Centros de Costos Registrados </h2>
      </div>
    {% endif%}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}

