{% extends 'base.html' %}


{% block title %}
  Crear de Costos
{% endblock title %}


{% block content %}
 

 
 <div class="card card-register mt-1">
    <div class="card-header">Registrar Centro de Costo</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
          <div class="form-label-group" id="inputEmail" >
            {{form.id_centro_costo}}
            <!-- <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus"> -->
            <label for="firstName">Número de Cuenta</label>
          </div>
        </div>

        <div class="form-group">
          <div class="form-label-group" id="inputEmail" >
            {{form.name_ccos}}
            <!-- <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus"> -->
            <label for="firstName">Nombre C.Costo</label>
          </div>
        </div>

        <input type="submit" class="btn btn-info" value="Guardar">
        <a class="btn btn-danger" href="{% url 'centro_costo_list' %}">Cancelar</a>


      </form>
    </div>
  </div>


  {% endblock content %}
 


