{% extends 'base.html' %}
{% load humanize %}  
<!-- |intcomma -->

{% block title %}
  Cuentas por pagar Especialistas 
{% endblock title %}


{% block content %}


  <a class= "btn btn-success" href= "{% url 'fac_especialista_view' %}" >Nueva Cuenta por Pagar</a>


  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div>
        <i class="fas fa-table"></i>
        Registros de Facturacion 
  
      </div>

      <div>
        <a class= "btn btn-success" href= "{% url 'report_especialista_excel'  %}" ><i class="fas fa-file-excel"></i> Exportar Excel</a>
        <a class= "btn btn-danger" href= "#" ><i class="fas fa-file-pdf"></i> Exportar pdf</a>
      </div>

    </div>

    <form>
      <input type="search" placeholder="AAAA-MM-DD" name="filtrofechacpp" aria-controls="dataTable">
      <input type="search" placeholder="Código" name="filtroidcpp" aria-controls="dataTable">
      <button type="submit" name="botonfiltrocpp">Filtrar</button>
    </form>

    {%if fac_especialistas %}

      <div class="card-body">
        <div class="table-responsive" >
    
            <div class="row"><div class="col-sm-12" ><table class="table table-bordered dataTable table-hover" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead class="p-3 mb-2 bg-info ">
                  <tr role="row">
                    <th class="sorting align-middle text-justify color-wilmer" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><p class="text-white">123456789123456789</p> </font></font></th>
                    <th class="sorting_asc align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código</font></font></th>
                    <th class="sorting_asc align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarifa</font></font></th>
                    <th class="sorting_asc align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 71px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 54px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre_Especialista</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 38px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">valor</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 38px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Glosa</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 64px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Monto_Acumulado</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 64px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aport._Volunt._Pension</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 64px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Inter._Prest._Vivienda</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 64px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Plan_Complementario_Salud</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 64px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aport._Cuentas_AFC</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 64px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aport._Volun._Empleador</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 64px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Indemnizaciones_Laborales</font></font></th>
                    <th class="sorting align-middle text-justify" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 52px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Fecha </font></font></th>

                  </tr>
                </thead>
                <!-- <tfoot>
                  <tr>
                    <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Código Factura</font></font></th>
                    <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Posición</font></font></th>
                    <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Oficina</font></font></th>
                    <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Años</font></font></th>
                    <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de inicio</font></font></th>
                    <th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Salario</font></font></th></tr>
                </tfoot> -->
                <tbody class="bb-color-wil">              
        
                  {% for fac_especialista in fac_especialistas %}  
                  <tr role="row" class="odd">
                    <td class="small align-middle text-center"  ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 
                      <center>
                        <a class= "btn btn-success btn-circle" href= "{% url 'fac_especialista_detallecrear_view' fac_especialista.id %}" ><ion-icon name="add"></ion-icon> </a>
                        <a class= "btn btn-dark btn-circle" href= "{% url 'retencion_list' fac_especialista.id%} "><i class="fas fa-cut"></i></a>     
                        <a class= "btn btn-dark btn-circle" href= "{% url 'detalle_facturador_view' fac_especialista.id %}" ><i class="fas fa-eye"></i></a>
                        <a class= "btn btn-danger btn-circle" href= "{% url 'reporte_pdf_esp' fac_especialista.id%}" ><i class="fas fa-file-pdf"></i></a> 

                      </center></font></font>
                    </td>
                    <td class="small align-middle text-center"  class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  fac_especialista.id}}</font></font></td>
                    <td class="small align-middle text-center"  class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{  fac_especialista.uvt}}</font></font></td>
                    <td class="small align-middle text-center"  class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.especialista.id_esp}}</font></font></td>
                    <td class="small align-middle text-center "  class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.especialista.name_esp}} {{fac_especialista.especialista.apellidos_esp}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.valor|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.glosa|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.acum|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.aport_volun_pension|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.int_pre_vivi|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.plan_comp_salud|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.aport_afc|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.aport_volun_emple|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.indem_lab|intcomma}}</font></font></td>
                    <td class="small align-middle text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{fac_especialista.fechafac_esp|date:"SHORT_DATE_FORMAT"}}</font></font></td>
                    

                  </tr>
                  {% endfor %}
    
    {% else %}
      <div class="alert alert-dark" role="alert">
          <h2>No hay Registros de Detalles de Facturacion </h2>
      </div>
        
    {% endif%}
    
                </tbody>
              </table></div></div>


{% endblock content %}

                    <!-- <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <center><a class= "btn btn-primary" href= "{% url 'fac_especialista_edit' fac_especialista.id %}" >Editar</a></center></font></font></td> -->
